set default="0"
set timeout="5"

# 适应当前的混合分区格式
menuentry "Buildroot" {
    echo "Loading from hybrid partition..."
    linux (hd0,msdos1,gpt1)/bzImage root=PARTUUID=UUID_TMP rootwait console=tty1
    boot
}