set default=0
set timeout=5

menuentry "MyBoard Linux" {
    linux /boot/bzImage root=/dev/ram0 rw console=ttyS0 console=tty0
    # 不使用单独的 initrd，因为已经内置在内核中
}

menuentry "MyBoard Linux (Debug)" {
    linux /boot/bzImage root=/dev/ram0 rw console=ttyS0 console=tty0 debug loglevel=8
    # 不使用单独的 initrd
}